<launch>
    <node pkg="nodelet" type="nodelet" name="depth_manager_offload" args="manager"/>

    <!-- This one registers the depth image to the color image -->
    <node pkg="nodelet" type="nodelet" name="register_depth_offload" output="screen"
          args="load depth_image_proc/register depth_manager_offload --no-bond">
        <remap from="rgb/camera_info" to="/pepper_robot/camera/front/camera_info"/>
        <remap from="depth/camera_info" to="/pepper_robot/camera/depth/camera/camera_info"/>
        <remap from="depth/image_rect" to="/pepper_robot/sink/depth/image_raw"/>
        <remap from="depth_registered/camera_info" to="/pepper_robot/sink/depth_registered/camera_info"/>
        <remap from="depth_registered/image_rect" to="/pepper_robot/sink/depth_registered/image_rect"/>
        <param name="queue_size" value="1"/>
    </node>

    <!-- This one makes a point cloud + RGB from the registered image -->
    <node pkg="nodelet" type="nodelet" name="cloudify_offload" output="screen"
          args="load depth_image_proc/point_cloud_xyzrgb depth_manager_offload --no-bond">
        <remap from="rgb/camera_info" to="/pepper_robot/camera/front/camera_info"/>
        <remap from="rgb/image_rect_color" to="/pepper_robot/sink/front/image_raw"/>
        <remap from="depth_registered/image_rect" to="/pepper_robot/sink/depth_registered/image_rect"/>
        <remap from="depth_registered/points" to="/pepper_robot/sink/depth/points"/>
        <param name="queue_size" value="1"/>
    </node>

    <!-- This one converts the registered image to meters (metric) -->
    <node pkg="nodelet" type="nodelet" name="metric_rect"
          args="load depth_image_proc/convert_metric depth_manager_offload --no-bond">
        <remap from="image_raw" to="/pepper_robot/sink/depth_registered/image_rect"/>
        <remap from="image" to="/pepper_robot/sink/depth_registered/meters/image_rect"/>
        <param name="queue_size" value="1"/>
    </node>
</launch>

